{% extends 'base.html' %}
{% block body %}
<style>
/* Updated styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Light background color */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.container {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
  justify-content: space-between;
}

.movie-details {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px; /* Add spacing below the details container */
  width: calc(50% - 10px); /* Set width to 50% of the container minus margin */
  flex-grow: 1; /* Allow details container to grow */
}

.movie-details h1 {
  margin-top: 0;
  color: #333; /* Darken heading color */
  font-size: 24px; /* Increase font size for heading */
  text-align: center;
}

.movie-details p {
  margin-bottom: 10px;
  color: #666; /* Darken paragraph text color */
  font-size: 16px; /* Increase font size for paragraphs */
}

.movie-details a {
  font-size: 16px; /* Increase font size for links */
}

.movie-poster {
  width: calc(50% - 10px); /* Set width to 50% of the container minus margin */
  margin-left: 20px; /* Add spacing between details and poster */
  flex-grow: 1; /* Allow poster container to grow */
}

.movie-poster img {
  width: 100%;
  border-radius: 10px;
  height: calc(100% - 2 * 10px);
}

.reviews-box {
  flex: 1; /* Take up available space */
  background-color: #fff; /* Background color for reviews */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  border-radius: 10px; /* Add border radius for rounded corners */
  padding: 20px;
}

.reviews-box h2 {
  margin-top: 0;
  color: #333;
}

.review-list {
  list-style: none;
  padding: 0;
}

.review-item {
  margin-bottom: 20px;
}

.review-item strong {
  font-weight: bold;
}

.add-review {
  background-color: #EFC050; /* Green color */
  color: white;
  padding: 10px 20px; /* Adjust padding as needed */
  margin: 10px; /* Adjust margin as needed */
  border: 1px solid #ddd;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none; /* Remove underline from link */
}

</style>

<div class="container">
  <div class="movie-details">
    <h1>{{ movie.title }}</h1>
    <p>Description: {{ movie.description }}</p>
    <p>Release Date: {{ movie.release_date }}</p>
    <p>Actors: {{ movie.actors }}</p>
    <p>Category: {{ movie.category }}</p>
    <a href="{{ movie.trailer_link }}" target="_blank">Watch Trailer on YouTube</a>
    {% if average_rating %}
      <p>Rating: {{ average_rating }}</p>
    {% endif %}
  </div>

  <div class="movie-poster">
    <img src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster" height="300px" width="250px">
  </div>
</div>

<div class="container">
  <div class="reviews-box">
    <h2>Reviews</h2>
    <ul class="review-list" style="max-height: 100px; overflow-y: scroll;">
      {% for review in movie.review_set.all %}
      <li class="review-item" data-review-id="{{ review.id }}"> <strong>@{{ review.user.username }}:</strong>

        {{ review.text | truncatechars:20 }}
    
        {% if review.text|length > 20 %}
          <a href="#" class="see-more" data-review-id="{{ review.id }}">See more</a>
        {% endif %}
      </li>
      {% empty %}
        <li class="review-item">No reviews yet.</li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="container" style="align-items: self-end;">
  {% if user.is_authenticated %}
    <a href="{% url 'movieapp:add_review' movie.id %}" class="add-review">Add Review</a>
  {% endif %}
</div>



{% endblock %}
