{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      Online Movie Store
  </a>
    <div class="card-footer align-self-end">
        {% if user.is_authenticated %}
            <span class="text-white">Welcome, {{ user.username }}</span>
            <a href="{% url 'movieapp:user_logout' %}" class="btn btn-info ml-2">Logout</a>
        {% else %}
            <a href="{% url 'movieapp:user_login' %}?next={{ request.path }}" class="btn btn-info">Login</a>
            <a href="{% url 'movieapp:user_register' %}" class="btn btn-info">Signup</a>
         {% endif %}
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>