{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="sidebar">
                <h1>User Dashboard</h1>
                <h3>Options</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'movieapp:add_movie' %}">Add Movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'movieapp:view_profile' %}">View Profile</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Dashboard -->
        <div class="col-md-9">
            <div class="dashboard">

                <p>Welcome, {{ username }}</p>
                <hr>
                <h2>Your Movies</h2>
                <ul>
                    {% for movie in movies %}
                        <li class="movie-title">
                            <h4>{{ movie.title }} <a href="{% url 'movieapp:movie_detail' movie.id %}" class="btn btn-primary btn-sm">View</a>

                            {% if movie.added_by == request.user %}
                                <a href="{% url 'movieapp:edit_movie' movie.id %}" class="btn btn-secondary btn-sm">Edit</a>
                            {% endif %}
                            </h4>
                        </li>
                    {% empty %}
                        <li>No movies found.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<style>
    .sidebar {
        background-color: #f8f9fa;
        padding: 20px;
        border-right: 1px solid #dee2e6;
    }
    .dashboard {
        padding: 20px;
    }
</style>

{% endblock %}
